

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.tt-dropdown-menu {
background-color:white;
border-radius:3px;
border:1px solid #ccc;
box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
background-clip:padding-box;
margin:3px 0 0;
padding:5px 0;
float:left;
}

.tt-suggestion > p {
    display: block;
    clear:both;
    padding:5px 15px;
    color:#333;
}















